@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

:root {
  --grad-bg: rgb(99, 75, 239);
  --grad: linear-gradient(
    90deg,
    rgba(99, 75, 239, 1) 0%,
    rgba(75, 19, 219, 1) 41%,
    rgba(58, 11, 147, 1) 92%
  );
  --bg-color: rgb(28, 27, 37);
  --text-color: rgb(60, 60, 66);
  --border-b: 0.25px solid rgba(165, 165, 167, 0.4);
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: rgba(58, 11, 147);
  border-radius: 12px;
  transition: all 0.5s ease-in-out;
}

::-webkit-scrollbar-thumb:hover {
  background: rgba(115, 53, 230, 0.6);
}
body {
  width: 100%;
  min-height: 100vh;
  font-family: "Roboto", sans-serif;
  overflow-x: hidden;
}

a {
  text-decoration: none;
  outline: none;
}

ul {
  list-style: none;
}

/* Header Styles */

#header {
  position: relative;
  width: 100%;
  min-height: 100vh;
  display: grid;
  grid-template-columns: 10% 1fr 10%;
  grid-template-areas:
    ". header-title ."
    ". header-links .";
  justify-content: center;
  align-items: center;
}
.swiper-container {
  position: absolute;
  width: 100%;
  height: 100%;
}
.swiper-slide {
  padding: 10px;
  background-position: center;
  background-size: cover;
}
.header-title {
  grid-area: header-title;
  width: 100%;
  padding: 2rem;
  height: auto;
  padding-bottom: 0;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  z-index: 10 !important;
}

.header-title h2 {
  letter-spacing: 20px;
  font-size: 50px;
  text-transform: uppercase;
  font-weight: 600;
  text-shadow: 0px 4px 6px var(--bg-color);
  margin: 40px 0;
}
.header-title h3 {
  letter-spacing: 2px;
  font-size: 60px;
  text-shadow: 2px 5px 8px var(--bg-color);
  text-transform: capitalize;
  font-weight: 900;
  margin: 10px 0;
}

.header-links {
  grid-area: header-links;
  width: 80%;
  height: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
  padding: 0 2rem 0 0;
}

.button {
  position: relative;
  margin: 0 20px;
  padding: 12.5px 35px;
  border-radius: 40px;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 700;
  box-shadow: 0px 2px 8px rgba(28, 27, 37, 0.2);
}

.button.outline {
  border: 2px solid blueviolet;
  backdrop-filter: blur(2.5px);
  color: #fff;
  transform: scale(1);
  transition: transform 0.3s ease-in-out;
  z-index: 4;
  box-shadow: 0px 2px 8px rgba(28, 27, 37, 0.2);
}

.button.outline:hover {
  transform: scale(1.06);
}

.button.filled {
  background: var(--grad-bg);
  background: var(--grad);
  color: #fff;
  transform: scale(1);
  padding: 15px 35px;
  box-shadow: 0px 2px 8px rgba(28, 27, 37, 0.2);

  z-index: 4;
  transition: transform 0.3s ease-in-out;
}

.button.filled:hover {
  transform: scale(1.06);
}

/* Navbar CSS Start */
.brand-logo {
  position: fixed;
  float: left;
  margin: 10px 36px;
  z-index: 9999 !important;
}
.logo {
  width: 100px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-self: flex-start;
  overflow: hidden;
}

.logo img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

nav {
  background: rgba(255, 255, 255, 1);
  box-shadow: 0px 2px 18px rgba(28, 27, 37, 0.3);
  position: fixed;
  left: 50%;
  transform: translateX(-50%);
  width: 98%;
  z-index: 9999 !important;
}

nav ul {
  list-style: none;
  background: rgba(0, 0, 0, 0);
  color: #000;
  padding: 0;
  text-align: right;
  margin: 0;
  transition: 0.3s ease-in-out;
  z-index: 9999 !important;
}

nav.white {
  transition: all 0.3s ease-in-out;
}

nav.white ul {
  background: #fff;
  z-index: 9999 !important;
}

nav ul li {
  display: inline-block;
  padding: 20px;
  z-index: 9999 !important;
  position: relative;
}

nav ul li a {
  text-decoration: none;
  color: #000;
  font-size: 18px;
  font-weight: 500;
  text-transform: uppercase;
  z-index: 9999 !important;
}
nav ul li .sub-menu {
  position: absolute;
  top: 3.8rem;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  flex-direction: column;
  background-color: #fff;
  box-shadow: 0px 5px 8px rgba(28, 27, 37, 0.3);
  width: auto;
  min-width: 325px;
  z-index: 990 !important;
  visibility: hidden;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  border-top: 2px solid var(--grad-bg);
}
.fa-caret-down {
  margin-left: 8px;
}
nav ul li:hover .sub-menu {
  visibility: visible;
}
.sub-menu li {
  width: 100%;
  font-size: 12px;
  padding: 25px 20px;
}

.sub-menu li:hover {
  background-color: #f1f1f1;
}
.sub-menu li:hover:last-child {
  background-color: #f1f1f1;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.sub-menu li a {
  font-size: 16px;
}
.menu-icon {
  width: 100%;
  background: #fff;
  text-align: right;
  box-sizing: border-box;
  padding: 15px 24px;
  cursor: pointer;
  color: #000;
  display: none;
  z-index: 9999 !important;
}

@media (max-width: 1300px) {
  .brand-logo {
    position: fixed;
    top: 0;
    margin-top: 16px;
    z-index: 9999 !important;
  }
  nav {
    width: 100%;
    height: 4rem;
  }
  nav ul {
    max-height: 0;
    text-align: center;
    background: #fff;
    z-index: 9999 !important;
  }
  nav.white ul {
    background: #fff;
    z-index: 9999 !important;
  }
  .showing {
    max-height: 100vh;
  }
  nav ul li {
    box-sizing: border-box;
    width: 50%;
    padding: 24px 0;
    border-bottom: 1px solid rgba(165, 165, 167, 0.2);
  }
  nav ul li:nth-child(9),
  nav ul li :last-child {
    border: none;
  }
  .menu-icon {
    display: block;
    z-index: 9999 !important;
  }

  #bar {
    display: none;
  }
}

/* Navbar CSS End */

/* About Content CSS Start */

.about-container {
  position: relative;
  padding: 4rem;
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-block: 25px;
}

/* -------------Border Template------------- */
.about-container::before {
  content: "";
  position: absolute;
  width: 70%;
  z-index: -1;
  height: 100%;
  border-bottom: var(--border-b);
}
/* -------------Border Template------------- */
.about-container .about-content {
  width: 50%;
  height: 100%;
  padding: 4em;
  min-height: 80vh;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}
.about-content p {
  font-size: 24px;
}

.about-content .button {
  margin: 30px 0 0;
}
.about-container .about-img {
  width: 50%;
  height: 100%;
  margin: auto 0;
  overflow: hidden;
}

.about-container .about-img img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

/* About content CSS End */

/* Service CSS Start */
.service-container {
  position: relative;
  width: 100%;
  min-height: 50vh;
  height: auto;
  padding: 2rem 6rem;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

/* -------------Border Template------------- */
.service-container::before {
  content: "";
  z-index: -1;
  position: absolute;
  width: 70%;
  height: 100%;
  border-bottom: var(--border-b);
}
/* -------------Border Template------------- */

.title {
  width: 100%;
  text-align: center;
  padding: 2rem 100px;
}

.title h2 {
  text-transform: uppercase;
  font-size: 42px;
  font-weight: 900;
}

.card-container {
  position: relative;
  width: 90%;
  height: auto;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin: 40px 0;
}

.card {
  width: 350px;
  height: 300px;
  min-width: 320px;
  max-width: 350px;
  min-height: 300px;
  max-height: 300px;
  margin: 30px;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  background: #fff;
  padding: 2rem;
  text-align: center;
  box-shadow: 2px 4px 12px rgba(99, 99, 99, 0.5);
  border: 1px solid rgba(202, 202, 202, 0.4);
  border-radius: 8px;
  transition: all 0.3s ease-in-out;
}
.card:hover {
  transform: translateY(-20px);
}

.ser.card-des {
  width: 90%;
  font-size: 16px;
  color: var(--text-color);
}
.ser.card-title {
  width: 100%;
  padding: 10px 0;
  font-size: 20px;
  text-transform: capitalize;
}

/* Service CSS End */

/* Learn More Btn Container */
.learn-more {
  margin: 50px 0;
  position: relative;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
/* Learn More Btn Container */

/* Video CSS Start */

.video-container {
  position: relative;
  width: 100%;
  min-height: 100vh;
  height: auto;
  padding: 4rem 6rem;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

/* -------------Border Template------------- */
.video-container::before {
  content: "";
  z-index: -1;
  position: absolute;
  width: 70%;
  height: 100%;
  border-bottom: var(--border-b);
}
/* -------------Border Template------------- */

.video-box {
  width: 100%;
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-block: 20px;
}

.video-box iframe {
  width: 100%;
  height: 100%;
}

/* Video CSS End */

/* Partner CSS Start */

.partner-container {
  position: relative;
  width: 100%;
  min-height: 100vh;
  height: auto;
  padding: 4rem 6rem;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

/* -------------Border Template------------- */
.partner-container::before {
  content: "";
  position: absolute;
  width: 70%;
  height: 100%;
  border-bottom: var(--border-b);
  z-index: -1;
}
/* -------------Border Template------------- */

.partner-grid-container {
  width: 80%;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-gap: 20px;
}

.grid-img {
  width: 100%;
  height: 100%;
  max-height: 200px;
  grid-column-start: span 3;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  filter: grayscale(1);
  padding: 1rem;
  transition: all 0.3s ease-in-out;
}

.grid-img:hover {
  filter: grayscale(0);
}

.grid-img img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  object-position: center;
  transition: all 0.3s ease-in-out;
}
.grid-img:hover img {
  transform: scale(1.06);
}

/* Partner CSS End */

/* Ways to reach us Css Start */

.ways-container {
  position: relative;
  width: 100%;
  min-height: 100vh;
  height: auto;
  padding: 4rem 6rem;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

/* -------------Border Template------------- */
.ways-container::before {
  content: "";
  position: absolute;
  width: 70%;
  height: 100%;
  border-bottom: var(--border-b);
  z-index: -1;
}
/* -------------Border Template------------- */

.ways-card-title {
  width: 90%;
  padding: 10px 0;
  border-bottom: 2px solid var(--bg-color);
  font-size: 24px;
}

.ways-card-des {
  width: 80%;
  padding: 10px;
  font-size: 18px;
  color: var(--text-color);
}

.ways-card-email {
  width: 90%;
  padding: 10px 0;
}

.ways-card-email a {
  color: #000;
  font-size: 20px;
}
/* Ways to reach us Css End */

/* Contact us Css Start */

.contact-container {
  position: relative;
  width: 100%;
  min-height: 100vh;
  height: auto;
  padding: 4rem 6rem;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

/* -------------Border Template------------- */
.contact-container::before {
  content: "";
  position: absolute;
  width: 70%;
  height: 100%;
  border-bottom: var(--border-b);
  z-index: -1;
}
/* -------------Border Template------------- */

.cnt-card {
  width: 350px;
  height: 300px;
  min-width: 320px;
  max-width: 350px;
  min-height: 300px;
  max-height: 300px;
  margin: 30px;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  background: #fff;
  padding: 2rem;
  text-align: center;
  border: 0.25px solid rgba(202, 202, 202, 0.5);
  box-shadow: inset 2px 2px 16px rgba(71, 71, 71, 0.2);
  border-radius: 8px;
}

.card-icon {
  font-size: 60px;
  margin: 10px 0;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-heading {
  font-size: 30px;
  margin: 10px 0;
  width: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-details {
  font-size: 24px;
  width: 90%;
  text-align: center;
}

.card-details a {
  color: black;
}

/* Contact us Css End */

/* Arrow Button */
.scroll-button a {
  color: #000;
  font-size: 36px;
  position: fixed;
  z-index: 1000000 !important;
  bottom: 20px;
  right: 20px;
  padding: 10px 12px;
  background-color: rgba(134, 97, 228, 0.75);
  border-radius: 50%;
  display: none;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

nav.sticky {
  height: 4rem;
  box-shadow: 0px 2px 22px rgba(28, 27, 37, 0.2);
}

.sticky + .content {
  padding-top: 4rem;
}

/* =============== Footer =============== */

.footer {
  width: 100%;
  background: #333;
  display: block;
}
.fo-container {
  width: 90%;
  margin: auto;
  padding: 30px 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.fo-items {
  width: 25%;
  padding: 1rem 2.5rem;
}

.fo-items:last-child {
  padding: 1rem 1.5rem;
}
.footer h2 {
  position: relative;
  color: var(--grad-bg);
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 20px;
  text-transform: uppercase;
}
.footer h2::before {
  content: "";
  position: absolute;
  bottom: -10px;
  left: 0;
  width: 80px;
  height: 2px;
  background: #f1f1f1;
}
.footer h4 {
  position: relative;
  color: var(--grad-bg);
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 20px;
  text-transform: uppercase;
}
.footer h4::before {
  content: "";
  position: absolute;
  bottom: -10px;
  left: 0;
  width: 80px;
  height: 2px;
  background: #f1f1f1;
}

.fo-items p {
  color: #fff;
  text-align: left;
  font-size: 16px;
  line-height: 24px;
  width: 90%;
}

.fo-items ul li {
  margin-top: 5px;
}

.fo-items ul li a {
  color: #fff;
  font-size: 15px;
  letter-spacing: 1px;
  transition: all 0.2s ease-in;
}
.fo-items a {
  color: #fff;
  font-size: 15px;
  letter-spacing: 1px;
  line-height: 30px;
}
.fo-items ul li:hover a {
  margin-left: 10px;
}

.fo-items i {
  margin-right: 8px;
}

.sl-media {
  margin-block: 50px;
}

.sl-media a {
  display: inline-block;
  width: 40px;
  height: 40px;
  background: #fff;
  margin-right: 5px;
  padding: 5px;
  border-radius: 50%;
  color: var(--grad-bg);
  transition: 0.3s ease;
}

.sl-media a:hover {
  background: var(--grad-bg);
  color: #fff;
  transform: translateY(-8px);
}
.sl-media a i {
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  font-size: 24px;
}

.copyrighttext {
  width: 100%;
  background: #181818;
  color: #fff;
  padding: 8px 100px;
  text-align: center;
}
.copyrighttext p span {
  font-size: 18px;
  margin-right: 10px;
  color: var(--grad-bg);
}

@media screen and (max-width: 1250px) {
  .logo {
    grid-column-start: span 4;
    width: 100px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-self: flex-start;
    overflow: hidden;
  }
  nav .navbar .icon-list {
    grid-column-start: span 8;
    display: flex;
    align-items: center;
    font-size: 24px;
    justify-content: flex-end;
  }
  nav .navbar .icon-list .icons {
    margin-inline: 20px 30px;
  }
  nav .menu-btn {
    right: 25px;
  }
  nav .navbar .nav-list {
    display: none;
  }
  .header-title {
    justify-content: center;
  }
  .header-title h2 {
    text-align: center;
    letter-spacing: 10px;
  }
  .header-links {
    justify-content: center;
    align-items: center;
    margin: 0 auto;
  }
  .about-container .about-content {
    padding: 2em;
  }
  .about-content p {
    font-size: 18px;
  }
  .about-content .button {
    margin: 15px 0 0;
  }
  .fo-items {
    width: 50%;
  }
  .about-container .about-content {
    width: 50%;
    height: 100%;
    padding: 2em;
    min-height: 50vh;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

@media screen and (max-width: 1110px) {
  .header-title h2 {
    letter-spacing: 8px;
  }
  .about-container {
    flex-direction: column-reverse;
  }
  .about-container .about-content {
    text-align: center;
    width: 80%;
  }
  .about-container .about-img {
    width: 80%;
  }
  .card-container {
    flex-direction: column;
  }
}

@media screen and (max-width: 960px) {
  .header-title h2 {
    letter-spacing: 10px;
    font-size: 36px;
    text-align: center;
  }
  .header-title h3 {
    letter-spacing: 2px;
    font-size: 48px;
    text-align: center;
  }
  .grid-img {
    max-height: 200px;
    grid-column-start: span 6;
  }
  .copyrighttext {
    padding: 8px 30px;
  }
}

@media screen and (max-width: 768px) {
  .video-box {
    width: 100%;
    height: 70vh;
  }

  .title {
    font-size: 28px;
    padding: 2rem 50px;
  }

  .about-container {
    padding: 4rem 2rem;
  }
  .service-container {
    padding: 4rem 2rem;
  }
  .video-container {
    padding: 4rem 2rem;
  }
  .partner-container {
    padding: 4rem 2rem;
  }
  .ways-container {
    padding: 4rem 2rem;
  }
  .contact-container {
    padding: 4rem 2rem;
  }
  .header-links {
    flex-direction: column;
    padding: 0;
  }
  .header-links .button {
    margin: 10px 0;
  }

  .fo-items {
    width: 100%;
    padding: 1rem 2.5rem;
  }
  .fo-items:last-child {
    padding: 1rem 2.5rem;
  }
}

@media screen and (max-width: 500px) {
  .header-title h2 {
    letter-spacing: 3px;
    font-size: 28px;
    text-align: center;
  }
  .header-title h3 {
    letter-spacing: 2px;
    font-size: 30px;
    text-align: center;
  }

  .grid-img {
    max-height: 200px;
    grid-column-start: span 6;
  }
  .about-container {
    padding: 4rem 1rem;
  }
  .service-container {
    padding: 4rem 1rem;
  }
  .video-container {
    padding: 4rem 1rem;
  }
  .partner-container {
    padding: 4rem 1rem;
  }
  .ways-container {
    padding: 4rem 1rem;
  }
  .contact-container {
    padding: 4rem 1rem;
  }
  .card,
  .cnt-card {
    width: 280px;
    height: 300px;
    min-width: 250px;
    max-width: 280px;
    min-height: 280px;
    max-height: 300px;
    margin: 30px 10px;
  }
  .title h2 {
    font-size: 28px;
  }
  .video-box {
    width: 90%;
    height: 35vh;
  }
  .fo-items:last-child {
    padding: 1rem 1rem 1rem 2.5rem;
  }
  .about-container .about-content {
    width: 100%;
  }
}
